{% extends parent_template|default:"organizer/base_organizer.html" %}
{% block title %}
{{ block.super }} - Tag List
{% endblock %}

{% block content %}
<h2>Tag List</h2>
<ul>
    {% for tag in tag_list %}
    <li><a href="{% url 'organizer_tag_detail' tag.slug %}">
        {{ tag.name|title }}
    </a></li>
    {% endfor %}
</ul>

{% if is_paginated %}
    <div>
        {% if previous_page_url %}
                <a href="{{ previous_page_url }}">Previous</a>
        {% endif %}
        Page {{ tag_list.number }} of {{ paginator.num_pages }}
        {% if next_page_url %}
                <a href="{{ next_page_url }}">Next</a>
        {% endif %}
    </div>
{% endif %}

{% endblock %}

<!-- We have defined get_absolute_url() method on Tag model, so we can replace url template tag
with a template variable. Like so-
    <li><a href="{% url 'organizer_tag_detail' tag.slug %}">
    <li><a href="{{ tag.get_absolute_url }}">
 -->